<!-- <ng-otp-input [formCtrl]="form" [config]="{ length: 5 }"></ng-otp-input> -->
<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->

<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>

<!-- <span *ngIf="isRunning">
  <button mat-raised-button (click)="stopTimer()">Stop Timer</button>
</span>
<button mat-raised-button (click)="startTimer()" [disabled]="isRunning">
  Start Timer (5 minutes)
</button> -->

<!-- <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
<mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
<br />
<span *ngIf="isRunning"
  >Time remaining: {{ totalTime - currentTime }} seconds</span
> -->
